body {
  background:linear-gradient(#57DEFC, #93CC37)
}

header {
  width: 80%; /* 要素の幅指定は必須です */
	margin: auto;
}

h1 {
  color: #172c66;
  font-family: 'Space Mono', monospace;;
}

h3 {
  color: #172c66;
  font-family: 'Space Mono', monospace;;
}

.App {
  text-align: center;
}

p {

  color: #172c66;
}

.content{
  /*text-align: center;*/
  display: flex;
  justify-content: center;
}

.content_analysis {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #F1F1F1;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0.5em 0.5em 0.5em 0.5em;
  width: 30%;
}

.content_analysis-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.2em;
}





@media screen and (max-width: 959px) {
  .content{
    display: flex;
    flex-wrap: wrap;
  }
  .content_my-party{
    width: 100%;
  }
  .content_analysis {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .content{
    display: flex;
    flex-wrap: wrap;
  }
  .content_my-party{
    width: 100%;
  }
  .content_my-party_pokemon{
    width: 100%;
  }
}

.pokemon-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.button-pokemon:hover {
  background-color: #ffd803;
  /*
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 50px;
  border-color: transparent transparent #228bc8 transparent;
  */
}
